.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.title_page {
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 28px;
}

.input_container {
  display: flex;
  margin-bottom: 35px;
}

.button {
  background-color: var(--primary);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  width: 80px;
  color: var(--white);
  font-weight: bold;
  font-size: 15px;
}

.client {
  width: 380px;
  height: 300px;
  background-color: var(--background);
  padding: 22px 0 25px;
  text-align: center;
}

.title {
  font-size: 29px;
  color: var(--font);
  margin-bottom: 20px;
}

.cpf,
.name {
  font-size: 32px;
  margin-bottom: 20px;
}

.cpf {
  color: var(--secondary);
}

.name {
  color: var(--primary);
  font-weight: bold;
}

.button_main,
.button_main_disabled {
  height: 77px;
  width: 300px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  font-size: 25px;
  color: var(--white);
  font-weight: bold;
}

.button_main {
  cursor: pointer;
  margin-bottom: 12px;
}

.button_main_disabled {
  margin-bottom: 7px;
  opacity: 0.4;
}

.card_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_info {
  width: 90%;
  display: flex;
  margin-bottom: 30px;
}

.side {
  width: 50%;
  text-align: center;
}

.side_warning {
  font-size: 16px;
  color: var(--primary);
  text-align: left !important;
  width: 90%;
  margin: 0 auto;
}

.side input,
.input_file {
  width: 90%;
  height: 60px;
  margin: 0 auto 12px;
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--font);
  border: none;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_title {
  font-size: 18px;
  color: var(--primary);
  margin-bottom: 20px;
}

.container_success {
  width: 100%;
}

.container_success .title_page {
  text-align: center;
}

.request_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.request_item {
  width: 48%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: var(--box-2);
  margin-bottom: 20px;
}

.request_item_card {
  margin: 0 10px 0 10px;
}

.request_item_title,
.request_item_card,
.request_item_text {
  font-size: 17px;
  font-weight: bold;
}

.request_item_title {
  color: var(--primary);
}

.request_item_text {
  color: var(--font);
  margin: 0 10px;
}

.box_request_item {
  display: flex;
  align-items: center;
}

.request_item_value,
.request_item_qtd {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.request_item_value {
  color: var(--green);
}

.request_item_qtd {
  color: var(--secondary);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning_request {
  font-size: 16px;
  color: var(--primary);
}

.btn_default {
  cursor: pointer;
  text-decoration-line: underline;
}

.btn_default [hidden] {
  display: none !important;
}
