.container {
  background-color: var(--background);
  color: var(--primary);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
  z-index: 100;
}

.container h2::first-letter {
  text-transform: capitalize;
}

.table {
  width: 100%;
  background-color: #e5e5e5;
}

.thead {
  background-color: var(--background);
}

.tr {
  width: 100%;
  height: 50px;
  color: var(--font);
}

.table_row {
  cursor: pointer;
}

.td,
.td_color {
  height: 50px;
  text-align: center;
  color: var(--font);
}

.td {
  background-color: var(--white);
}

.td_color {
  background-color: #efdf4b;
}
