.subheader_container {
  margin: 31px auto 50px;
  display: flex;
  align-items: center;
}
.logo1 {
  width: 45px;
  height: auto;
  margin-right: 21px;
}
.logo2 {
  width: 90px;
  height: auto;
  margin-right: 19px;
}
.title {
  color: var(--primary);
  width: 150px;
}
